<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--	<listeners>-->
<!--     <listener class-name ="resources.Listeners"/>-->
<!--  </listeners>-->
  <test thread-count="5" name="Test">
    <classes>
<!--      <class name="Paralleltesting.ClassTwo"/>-->
<!--      <class name="APITC.DummyAPI"/>-->
<!--      <class name="Practise.GoogleAutomation"/>-->
<!--      <class name="FITtoPOJO.AddPlaceFit"/>-->
<!--      <class name="Practise.ListenersPractise"/>-->
<!--      <class name="APITC.FirstAPI"/>-->
<!--      <class name="APITC.AddPlace"/>-->
<!--      <class name="APITC.AddPlaceStyleTwo"/>-->
<!--      <class name="APITC.TraverseTheJSON"/>-->
<!--      <class name="Interview.InterviewQuestion"/>-->
      <class name="com.learning.selenium.TestCaseOne"/>
       <class name="com.learning.selenium.TestCaseTwo"/>
<!--      <class name="Interview.InterviewQuestionTwo"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
